@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*font-family: 'Cormorant', serif;*/
.whyTira {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.whyTituloNegro {
    color: #1F1F1F;
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.whyTituloNaranja {
    color: #FF8126;
}