.contenedor_square{
    display: flex;
    float: left;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    align-items: center;

}

.rectangulo_exterior{
    width: 186px;
    height: 186px;
    box-shadow: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    
}

.imagen{
    margin: auto;
}