ul{
    display: flex;
}

ul li{
    list-style: none;

}

ul li a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15PX;
    line-height: 22.5px;
    text-decoration: none;
    color:#1F1F1F ;
    padding: 20px;
    font-style: normal;
}

ul li a:hover{
    font-size: 20px;
    color:blue;
}