.contenedor_warning {
    width: 100vw;
    height: 50px;
    max-width: 100%;
    background-color: #C2E8CE;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    display: flex;
    justify-content: center;

}

.title {
    width: 100%;
    display: flex;
    color: #1F1F1F;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 360px) {
    .contenedor_warning {
        font-size: 15px;
    }
}