.contenedor_elipse {
    display: flex;
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}

.imagen {
    margin-top: 20px;
    width: 40%;
    height: 40%;
}

.contenedor_elipse:hover {
    border: 1px solid #3b20e9;
}


.contenedor_elipse_friends {
    color: white;
    display: flex;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    float: left;
    margin: 10px 25px;
    text-align: center;
    justify-content: center;
    background-color: #FF8126;
    flex-direction: column;
}

.contenedor_elipse_friends:hover {
    border: 1px solid #3b20e9;
}

.icono{
    font-size: 30px;
}
@media only screen and (max-width: 412px) {
    .contenedor_elipse{
        width: 40px;
        height: 40px;
    }
    .contenedor_elipse_friends {
        width: 40px;
        height: 40px;
        align-items: center;
    }

    .imagen {
        margin-top: 8px;
        width: 50%;
        height: 50%;
    }

}

@media only screen and (max-width: 375px) {
    .contenedor_elipse{
        width: 40px;
        height: 40px;
    }
    .contenedor_elipse_friends {
        width: 40px;
        height: 40px;
        align-items: center;
    }

    .imagen {
       /*  margin-top: 8px; */
        width: 50%;
        height: 50%;
    }

}