/* aplica flex a contendor de elipses */
.contenedor_elipse {
    display: flex;
    padding: 20px;
    padding-bottom: 20px;

}

.total {
    border: 1px solid #FF8126;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #FF8126;
    margin-left: -50px;
    font-size: 10px;
}

.contenedor_tabla {
    padding-left: 40px;

}

.totales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.contenidoModal {
    color: #FF8126;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.tabla_interna {
    width: 95%;

}

thead {
    background: #81bbea;
}

th {
    color: #ffff;
}

th,
td {
    padding: 10px;
}



.shopButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
}

.cardImage {
    max-height: 100%;
    object-fit: contain;
    width: 50px;
    padding-right: 4px;

}




@media only screen and (max-width: 510px) {
    img {
        width: 50%;
        
    }

    .contenidoModal {
        font-size: 10px;
    }

  .navbar {
        display: flex;
        
        justify-content: space-between;
        margin-bottom: 200px;
        flex-direction: row;
    }
   
    
    .contenedor_elipse {
        margin-left: -100px;
        margin-bottom: -80px;
    }

    .cardImage {
        display: none;
    }

    .contenedor_tabla {
        padding-left: 4px;

    }

    .totales {
        padding: 5px;
    }

    .contenidoModal {
        font-size: 15px;
    }

    th,
    td {
        padding: 3px;
    }
}


@media only screen and (max-width: 412px) {
    .contenedor_logo {
        display: none;
    }

  

    .contenedor_elipse {
        margin: 0;
        margin-top: 30px;
        
        
    }

}


    
 