/* para navbar */
nav{
    display: flex;
    background-color: #ffff;
    position: relative;
    top: 20;
    width: 100%;
    height: 125px;
    justify-content: space-around;
}

.list{    
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items{
    
    margin-right: 40px;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

.items:hover{
        text-decoration: underline;
        color:blue
}
.boton{
    margin-top: 20px;
    display: none;
    position: absolute;
    right: 5px;      
    padding: 5px;
    color: #FF8126;
    font-size: 60px;
}

@media screen and (max-width:500px){

    img{
        display: none;
    }
    

    .list{
        margin-top: 120px;
        flex-direction: column;
        height: auto;      
        
    }

    .items:nth-child(1){
        border-top: 1px solid rgba(255,129,38, .5);
        margin-top: 200px;
        background-color: #fff;
    }

    .items{
        width: 100%;
        
        text-align: center;
        padding: 10px;
        /* margin-right: 0px; */
        background-color: #fff;
        border-bottom:1px solid rgba(255,129,38, .5); 
    }

    .boton{        
        display: block;
        position: absolute;
        margin-right: 300px;
    }
}



/* aplica flex a contendor de elipses */
.contenedor_elipse {
    display: flex;
    padding: 20px;
    padding-bottom: 20px;

}

.total {
    border: 1px solid #FF8126;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #FF8126;
    margin-left: -50px;
    font-size: 10px;
}

.contenedor_tabla {
    padding-left: 40px;

}

.totales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.contenidoModal {
    color: #FF8126;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.tabla_interna {
    width: 95%;

}

thead {
    background: #81bbea;
}

th {
    color: #ffff;
}

th,
td {
    padding: 10px;
}



.shopButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
}

.cardImage {
    max-height: 100%;
    object-fit: contain;
    width: 50px;
    padding-right: 4px;

}




@media only screen and (max-width: 500px) {
    

    .contenidoModal {
        font-size: 10px;
    }

 
   
    
    .contenedor_elipse {   
       
        
        margin-bottom: -80px;
    }

    .cardImage {
        display: none;
    }

    .contenedor_tabla {
        padding-left: 4px;

    }

    .totales {
        padding: 5px;
    }

    .contenidoModal {
        font-size: 15px;
    }

    th,
    td {
        padding: 3px;
    }
}


@media only screen and (max-width: 412px) {
    .contenedor_logo {
        display: none;
    }

  

    .contenedor_elipse {
        margin: 0;
        margin-top: 30px;
        
        
    }

}


    
 