.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor_menu{   
    display: flex;
    
}

.contenedor_elipse{
    display: flex;
    
}

.contenedor_log{

}

.imagen_logo{

}




