/*font-family: 'Poppins', sans-serif;*/

/*font-family: 'Cormorant', serif;*/
.Collapsible {
    text-decoration: none !important;
    color: aqua;
}

.Collapsible::after {
    text-rendering: ">";
}


.contenedorFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    padding-left: 30px;
    padding-top: 10px;
}

.footerContenedorMenu {
    flex: 1 1 20%;

}

.footerTitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding: 0;
}

.footerItem {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
}

.footerAnchor:hover {
    font-size: 17px;
}







@media only screen and (max-width: 820px) {
    .footerContenedorMenu {
        flex: 1 1 33.333%;
    }

}

@media only screen and (max-width: 512px) {
    .contenedorFooter {
        flex-direction: column;
        background-color: #F2F6F7;
    }



}