/*font-family: 'Poppins', sans-serif;*/

/*font-family: 'Cormorant', serif;*/
.contenedorFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    background-color: DodgerBlue;
    width: 100%;
}

.footerContenedorMenu {
    border: solid blueviolet 2px;
    width: 180px;
}

.footerTitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.footerUl {
    display: flex;
    flex-direction: column;
}

.footerItem {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}