@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

.cardProd {
    width: 270px;
    height: 332px;
    background: #F7F5F0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.cardImage {
    width: fit-content;

}

.cardTexto {
    font-size: 18px;
    font-weight: 500;
    color: #1F1F1F;
    padding: 3px;
}

.cardPrecioDcto {
    font-size: 24px;
    font-weight: 600;
    color: #FF8126;
    padding: 15px;
}

.cardPrecio {
    font-size: 18px;
    font-weight: 400;
    color: #656565;
    text-decoration: line-through;
    padding: 15px;
}